<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55774942-1', 'auto');
  ga('send', 'pageview');

</script>
<div class="jumbotron">
  <h1>Welcome to Nest Quest! We harness the power of the group to find you a great apartment!</h1>
  <p>...</p>
  <%= link_to 'View Upcoming Tours', showings_path, class:"btn btn-primary btn-lg", role:"button"%>
</div>
<div class="container">
  <div class="row">
  <div class="col-md-3">
    <div class="thumbnail" style="border: none">
      <%= image_tag 'elephantbalance.jpg', class:"index-thumbnail"%>
      <div class="caption">
        <h4>Found Nest Bonus</h4>
        <p> Our tours are designed to find you the right nest. All tours include a Found Nest Bonus to make that feeling of finding your next home that much better. </p>
        
        <p><a href="#" class="btn btn-primary" role="button">User Testimonials</a> <a href="#" class="btn btn-default" role="button">Frequently Asked Questions</a></p>
      
      </div>

    </div>

  </div>
   <div class="col-md-3">
    <div class="thumbnail">
      <img src="couch.jpg" class="index-thumbnail">
      <div class="caption">
        <h4> A Better Quest </h4>
       <p>The Nest Quest system allows our Questers to join group tours of NYC apartments that meet their search criteria. </p>
        <p><a href="#" class="btn btn-primary" role="button">User Testimonials</a> </p>
      
      </div>

    </div>

  </div>
   <div class="col-md-3">
    <div class="thumbnail">
      <img src="tiredsearching.jpg" class="index-thumbnail">
      <div class="caption">
        <h4>Real Nests Only</h4>
        <p> We work to ensure that all apartments and tours posted on the site are real nests that you will actually be seeing on your group quest through NYC apartments. </p>
        <p><a href="#" class="btn btn-primary" role="button">User Testimonials</a> </p>
      
      </div>

    </div>

  </div>
</div>
</div>