<div class="jumbotron">
  <h1>Welcome to Nest Quest! We harness the power of the group to find you a great apartment!</h1>
  <p>...</p>
  <%= link_to 'View Upcoming Tours', showings_path, class:"btn btn-primary btn-lg", role:"button"%>
</div>
<div class="container">
  <div class="row">
  <div class="col-md-3">
    <div class="thumbnail" style="border: none">
      <%= image_tag 'elephantbalance.jpg', class:"index-thumbnail"%>
      <div class="caption">
        <h4>Find a Better Home Without the Hassle</h4>
        <p> Our tours are designed to showcase all of the applicable apartments that you would be interested in. </p>
        
        <p><a href="#" class="btn btn-primary" role="button">User Testimonials</a> <a href="#" class="btn btn-default" role="button">Frequently Asked Questions</a></p>
      
      </div>

    </div>

  </div>
   <div class="col-md-4">
    <div class="thumbnail">
      <img src="couch.jpg" class="index-thumbnail">
      <div class="caption">
       <p>The Nest Quest system allows our Questers to see more apartments than they would otherwise see working one on one with a brokert that has less of an incentive to do a thorough search job. </p>
        <p><a href="#" class="btn btn-primary" role="button">User Testimonials</a> <a href="#" class="btn btn-default" role="button">Frequently Asked Questions</a></p>
      
      </div>

    </div>

  </div>
   <div class="col-md-4">
    <div class="thumbnail">
      <img src="tiredsearching.jpg" class="index-thumbnail">
      <div class="caption">
        <h4>Find a Better Home Without the Hassle</h4>
        <p> Our tours are designed to showcase all of the applicable apartments that you would be interested in. </p>
        <p><a href="#" class="btn btn-primary" role="button">User Testimonials</a> <a href="#" class="btn btn-default" role="button">Frequently Asked Questions</a></p>
      
      </div>

    </div>

  </div>
</div>
</div>
