<p id="notice"><%= notice %></p>

<p>
  <strong>Apartment:</strong>
  <%= @apartment_photo.apartment %>
</p>

<%= link_to 'Edit', edit_apartment_photo_path(@apartment_photo) %> |
<%= link_to 'Back', apartment_photos_path %>
